body {
    /* Google Fonts */
    font-family: 'Rock Salt', cursive;

    background: url(../images/http___pluspng.com_img-png_png-frames-for-pictures-10-768.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}

#jumbo {
    color: rgb(160, 8, 8);
    background: rgba(149, 219, 69, 0.973);
}

#card-button {
    background: rgba(231, 229, 100, 0.945);
}

#card-gif {
    background: rgba(241, 91, 103, 0.931);
}